.h1{
    font-size: 60px;
    color: goldenrod;
    margin: 0px;
}

.wrapper{
    width: 700px;
    overflow: hidden;
    margin: auto;
    display: flex;
}

.jogador{
    margin: auto;
    border-style: solid;
    border-color: goldenrod;
    float: left;
    width: 200px;
}

.dealer{
    margin: auto;
    border-style: solid;
    border-color: goldenrod;
    overflow: hidden;
    float:right;
    width: 200px;
}

.div{
    text-align: center;
    border-style: solid;
    border-color: gray;
    width: 200px;
    margin: auto;
}

.buttonAposta{
    text-align: center;
    padding: 2px;
    margin: 5px;
    width: 50px;
    font-weight: bold;
    color: black;
    background-color: goldenrod;
    border-color: gold;
    border-radius: 10px;
    font-size: 20px;
}

.divAposta{
    padding: 1px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.divButton{
    padding: 1px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.button{
    text-align: center;
    font-weight: bold;
    padding: 2px;
    margin: 5px;
    width: 150px;
    color: black;
    border-color: gold;
    background-color: goldenrod;
    font-size: 20px;
}

.res{
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    position: absolute;
}
